# ビルドファイル
.next/**
out/**
dist/**
build/**

# 依存関係
node_modules/**

# キャッシュ
.cache/**
.swc/**
.venv/**

# Cypressのファイル
cypress/**

# 設定ファイル
.prettierrc.js
babel.config.js
jest.config.js
next.config.js
postcss.config.js
tailwind.config.js
eslint.config.js
*.config.js

# その他
*.min.js
*.bundle.js
prisma/dist/**
scripts/**
public/**
coverage/**

# 特定のファイル
.next/static/chunks/webpack-*.js
.next/static/chunks/*-*.js 